.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  align-self: center;

  .social-media__icons {
      padding: 18px;

      a {
          &:not(:first-child) {
              margin-left: 16px;
          }
          img {
              width: 50px;
              height: 50px;
          }

          &.whatsapp {
              // Show whatsapp share icon only on touch devices
              @media (hover: hover) and (pointer: fine) {
                  display: none;
              }
          }
      }
  }
}
