#main-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 230, 233);

    height: 100vh;

    &>* {
        flex-shrink: 0;
    }
}

header#main-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
}

header#main-header > span {
    margin-bottom: 8px;
    font-weight: bold;
}

footer#main-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#text-title {
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3.3px;
}

main#main-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.floating-box#main-floating-box {
    min-height: 300px;
    flex-direction: column;
    align-items: center;
}

#main-floating-box > .floating-box-header {
    flex-direction: column;
    justify-content: center;
    padding: 12px;
}

#main-floating-box > .floating-box-main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main-floating-box > .floating-box-main-container {
    flex-direction: column;
    align-items: center;
}

.floating-box-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

#input-city {
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(230, 230, 233);
    box-shadow: none;
    cursor: default;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 38px;
    position: relative;
    box-sizing: border-box;
    border-radius: 3px;
    transition: all 100ms ease 0s;
    padding: 0px 16px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    outline: 0px !important;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    font-size: 15px;
}

#input-city:focus {
    border: 2px solid rgb(50, 155, 184);
}

#submit-form {
    display: flex;
    justify-content: center;
    padding: 18px;
    margin-top: 20px;
}

#pickfromlist {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;

    @media only screen and (max-width: 640px) {
        max-width: 85vw;
        min-width: 85vw;
    }
}

#pickfromlist > p {
    margin: 0 6px 0 6px;
}

.fake-a {
    cursor: pointer;
    border-bottom: 1px solid black;
}
