header {
    background-color: rgb(25, 25, 100);
}

#logo, #logo:link, #logo:active, #logo:visited, #logo:hover {
    color: white;
    font-size: 40px;
    font-weight: 700px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 20px;
    letter-spacing: 5px;
    text-decoration: none;
}

.cyan-btn {
    display: flex;
    align-items: center;
    justify-content: space-around;

    font-size: 15px;
    line-height: 1.13;
    text-align: center;
    color: #fff;
    padding: 0 16px;
    border: none;
    background-color: rgb(50, 155, 184);
    align-items: center;
    cursor: pointer;

    height: 45px;
    width: 250px;
    border-radius: 22px;
}

.cyan-btn:hover {
    background-color: rgb(70, 175, 204);
}

.cyan-btn:active {
    background-color: rgb(40, 145, 174);
}

.cyan-btn:focus {
    outline: none;
}

.floating-box {
    display: flex;
    margin-top: 32px;
    max-width: 640px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;
    border-bottom-color: rgb(0, 0, 0);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(0, 0, 0);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(0, 0, 0);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(0, 0, 0);
    border-top-style: none;
    border-top-width: 0px;

    min-height: 360px;
    padding: 16px 48px;

    @media only screen and (max-width: 640px) {
        padding: 16px;
        max-width: 85vw;
    }
}
