body {
    margin: 0;
    width: 100vw;
    padding: 0;
    font-family: "Segoe UI", "Tahoma", "Times New Roman", sans-serif, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: rgb(233, 234, 237);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
